<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Crypto Currency Lookup</h3>
      </div>
      <div class="panel-body">
        <br> 
        <%# creating form linked to look_up_path with a method that is POST that loops through sym (for symbol) %>
        <%= form_tag home_lookup_path, :method => 'POST' do %>
        <%# create text field, placeholder makes text appear in box until you type, 50 is how long the text field is in length %>
        <%= search_field_tag :sym, value = nil, options = {style: "height: 30px; width: 500px; border-radius: 5px;", placeholder: "Enter Crypto Symbol"} %>
        <%# create submit button %>
        <%= submit_tag 'Lookup Stock Quote', class: "btn btn-primary" %>
        <% end %>

        <br>
        <% if @symbol %>
          <% for x in @lookup_coin %>
            <%# if @symbol entered into the form is x["symbol"] then print out the following otherwise don't do anything %>
            <% if @symbol == x["symbol"] %>
              <h1><%= @symbol.upcase %></h1>
              <hr>
              <p>
                <strong>Currency:</strong> <%= x["name"] %><br/> 
              </p>
              <p>
                <strong>Crypto Rank: </strong> <%= x["rank"] %>
              </p>
              <p>
                <strong>Current Price: </strong> $<%= x["price_usd"] %>
              </p>
              <p>
                <strong>Last Updated:</strong> <%= DateTime.strptime(x['last_updated'],'%s') %><br/>
              </p>
              <p>
                <strong>% Changed In Last Hour: </strong> <%= x["percent_change_1h"] %>%
              </p>
              <p>
                <strong>% Changed In Last 24 Hours: </strong> <%=  x["percent_change_24h"] %>%
              </p>
              <p>
                <strong>% Changed In Last 7 Days: </strong> <%= x["percent_change_7d"] %>%
              </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>